* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}


body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    color: #333;
    max-width: 640px;
    margin:0px auto;
}

#form{
    margin:0px auto;
    width: 496px;
}

#optimizer {
    margin: 20px 0;
    background: #fff;
    width: 100%;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
}


#optimizer fieldset{
    border: none;
}

#tweet,#domain,#facebook {
    margin: 20px 0;
    padding: 0px;
    background: #fff;
    width: 100%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    overflow:hidden;
}

#tweet header,
#domain header,
#facebook header{
    padding: 20px 20px 0px 20px;
}

#tweet .container,
#domain .container,
#facebook .container{
    padding: 0px 20px 0px 20px;
}

#domain .container{
    padding: 20px 20px 0px 20px;

}

#tweet header{
    display: block;
    overflow: hidden;
    line-height: 32px;
}
#tweet header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}

#tweet header ul li{
    float: left;
    margin-right:0px;
}

#tweet .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#tweet .profile-name{
    font-weight: bold;
}
#tweet .date:before{
    content :" · ";
}

#tweet .optimizer{
    margin-left: 32px;
}

#tweet .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    max-width:496px;
    padding: 10px 20px;
    resize: none;
}

#domain ul{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#domain ul li{
    float:left;
    margin-right:10px;
    color: #999;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    height:60px;
}

#domain .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:330px;
    padding: 10px 20px;
    resize: none;
}


#facebook header{
    display: block;
    overflow: hidden;
    line-height: 16px;
}
#facebook header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}

#facebook header ul li{
    float: left;
    margin-right:10px;
}

#facebook .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#facebook .profile-name{
    padding-top:5px;
    font-weight: bold;
    font-size:16px;
}

#facebook .date{
    font-weight:normal;
    font-size:12px;
}

#facebook .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width:496px;
    padding: 10px 0px;
    resize: none;
}

.container{
    overflow: hidden;
    color:#fff;
}

#tweet footer,
#domain footer,
#facebook footer{
    padding:0;
    margin: 20px 0 0 0;
    background:#f7f7f7;
    overflow: hidden;
    border-top:1px solid #d0d1d5;
}


pre {float:right; width:300px; background:#efefef; padding:6px 12px; margin:0; font:13px 'Courier New', Courier, monospace; font-weight:bold; color:#3b3b3b;}
form {margin-bottom:30px;}
.safe , .over {padding:3px; color:white; font-weight:bold;}
.safe {background:green;}
.over {background:red;}

.twitter fieldset{
    border:3px solid;

text-align: center;
}

.twitter fieldset label{
    margin:0px auto;
}
