body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    color: #333;
    max-width: 800px;
    margin:0px auto;
}

#form{
    margin:0px auto;
    width: 496px;
}

#optimizer {
    margin: 20px 0;
    background: #fff;
    width: 100%;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
}


#optimizer fieldset{
    border: none;
}




pre {float:right; width:300px; background:#efefef; padding:6px 12px; margin:0; font:13px 'Courier New', Courier, monospace; font-weight:bold; color:#3b3b3b;}
form {margin-bottom:30px;}
.safe , .over {padding:3px; color:white; font-weight:bold;}
.safe {background:green;}
.over {background:red;}

.twitter fieldset{
    border:3px solid;

text-align: center;
}

.twitter fieldset label{
    margin:0px auto;
}
