/* Icon Font Start */

@charset "UTF-8";

@font-face {
  font-family: "blob";
  src:url("../fonts/blob.eot");
  src:url("../fonts/blob.eot?#iefix") format("embedded-opentype"),
    url("../fonts/blob.woff") format("woff"),
    url("../fonts/blob.ttf") format("truetype"),
    url("../fonts/blob.svg#blob") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "blob" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "blob" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clippy:before {
  content: "a";
}
.icon-graph:before {
  content: "b";
}
/* Icon Font End */


* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}


body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    color: #333;
    max-width: 640px;
    margin:0px auto;
}

#templates{
    position: relative;
}

.template{
    position: absolute;
    display:none;

    margin: 20px 0;
    padding: 0px;
    background: #fff;
    width: 100%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    overflow:hidden;
}

.template .header{
    padding: 20px 20px 0px 20px;
}

.template .optimize-container{
    padding: 0px 20px 0px 20px;
}

.template .result-footer{
    padding: 20px;
    margin: 20px 0 0 0;
    background:#f9f9f9;
    overflow: hidden;
    border-top:1px solid #d0d1d5;
    clear:both;
}
.template .result-footer ul{
    margin: 0;
    padding:0;
    list-style-type:none;
}
.template .result-footer ul li{
    float:left;
}
.template .result-footer ul li p{
    margin:0;
    padding:0;
}

.template .result-footer .engagement{
    float:right;
}


/* Tweet */
#tweet .header{
    display: block;
    overflow: hidden;
    line-height: 32px;
}
#tweet .header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}
#tweet .header ul li{
    float: left;
    margin-right:0px;
}
#tweet .header .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#tweet .header .profile-name{
    font-weight: bold;
}
#tweet .header .date:before{
    content :" · ";
}
#tweet .optimize-container{
    margin-left: 32px;
}
#tweet .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    max-width:496px;
    padding: 10px 20px;
    resize: none;
}
/* Facebook */
#facebook .header{
    display: block;
    overflow: hidden;
    line-height: 16px;
}
#facebook .header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}
#facebook .header ul li{
    float: left;
    margin-right:10px;
}
#facebook .header .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#facebook .header .profile-name{
    padding-top:5px;
    font-weight: bold;
    font-size:16px;
}
#facebook .header .date{
    font-weight:normal;
    font-size:12px;
}
#facebook .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width:496px;
    padding: 10px 0px;
    resize: none;
}
/* E-mail */
#email ul{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#email ul li{
    float:left;
    margin-right:10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;
    height:60px;
    color: #333;
}
#email .optimizer-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:430px;
    padding: 10px 20px;
    resize: none;
}
/* Domain */
#domain .inline{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#domain .inline li{
    float:left;
    margin-right:10px;
    color: #999;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    height:60px;
}
#domain .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:330px;
    padding: 10px 20px;
    resize: none;
}
/* E-mail */
#email .inline{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#email .inline li{
    float:left;
    margin-right:10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;
    height:60px;
    color: #333;
}
#email .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:430px;
    padding: 10px 20px;
    resize: none;
}

/* Title */
#title .inline{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#title .inline li{
    float:left;
    margin-right:10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;
    height:60px;
    color: #333;
}
#title .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:430px;
    padding: 10px 20px;
    resize: none;
}
/* Headline */
#headline .inline{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#headline .inline li{
    float:left;
    margin-right:10px;
    color: #999;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
}
#headline .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:580px;
    padding: 10px 20px;
    resize: none;
}

/* Blog Post */
/* Facebook */
#blog .header{
    display: block;
    overflow: hidden;
    line-height: 16px;
}
#blog .header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}
#blog .header ul li{
    float: left;
    margin-right:10px;
}
#blog .header .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#blog .header .profile-name{
    padding-top:5px;
    font-weight: bold;
    font-size:16px;
}
#blog .header .date{
    font-weight:normal;
    font-size:12px;
}
#blog .optimize-container textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width:496px;
    padding: 10px 0px;
    resize: none;
}


.active{
}




/*
#form{
    margin:0px auto;
    width: 496px;
}

#optimizer {
    margin: 20px 0;
    background: #fff;
    width: 100%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}


#optimizer fieldset{
    border: none;
}

#tweet,#domain,#facebook,#email {
    margin: 20px 0;
    padding: 0px;
    background: #fff;
    width: 100%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    overflow:hidden;
}

#tweet header,
#domain header,
#facebook header,
#email header{
    padding: 20px 20px 0px 20px;
}

#tweet .container,
#domain .container,
#facebook .container,
#email .container{
    padding: 0px 20px 0px 20px;
}

#domain .container,
#email .container{
    padding: 20px 20px 0px 20px;
}

#tweet header{
    display: block;
    overflow: hidden;
    line-height: 32px;
}
#tweet header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}

#tweet header ul li{
    float: left;
    margin-right:0px;
}

#tweet .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#tweet .profile-name{
    font-weight: bold;
}
#tweet .date:before{
    content :" · ";
}

#tweet .optimizer{
    margin-left: 32px;
}

#tweet .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    max-width:496px;
    padding: 10px 20px;
    resize: none;
}

#domain ul{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#domain ul li{
    float:left;
    margin-right:10px;
    color: #999;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    height:60px;
}

#domain .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:330px;
    padding: 10px 20px;
    resize: none;
}


#facebook header{
    display: block;
    overflow: hidden;
    line-height: 16px;
}
#facebook header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: left;
}

#facebook header ul li{
    float: left;
    margin-right:10px;
}

#facebook .profile-picture img{
    border-radius: 3px;
    margin-right: 5px;
}
#facebook .profile-name{
    padding-top:5px;
    font-weight: bold;
    font-size:16px;
}

#facebook .date{
    font-weight:normal;
    font-size:12px;
}

#facebook .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width:496px;
    padding: 10px 0px;
    resize: none;
}


#email ul{
    margin:0;
    padding:0;
    display:block;
    clear:left;
    list-style-type:none;
}
#email ul li{
    float:left;
    margin-right:10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;
    height:60px;
    color: #333;
}

#email .optimizer textarea{
    border:none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    max-width:430px;
    padding: 10px 20px;
    resize: none;
}



.container{
    overflow: hidden;
    color:#fff;
}

#tweet footer,
#domain footer,
#facebook footer,
#email footer{
    padding:0;
    margin: 20px 0 0 0;
    background:#f9f9f9;
    overflow: hidden;
    border-top:1px solid #d0d1d5;
}
*/

pre {float:right; width:300px; background:#efefef; padding:6px 12px; margin:0; font:13px 'Courier New', Courier, monospace; font-weight:bold; color:#3b3b3b;}
form {margin-bottom:30px;}
.safe , .over {padding:3px; color:white; font-weight:bold;}
.safe {background:green;}
.over {background:red;}

.twitter fieldset{
    border:3px solid;

text-align: center;
}

/*
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#eee;
   text-align: center;
   font-size: 12px;
}
*/
